@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display==swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #272727;
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background: cadetblue;
    padding: 15px 0;
}

.navbar .logo a{
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.navbar .menu li {
    list-style: none;
    display: inline-block;

}

.navbar .menu li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;

}

.section-separator {
    height: 100px;
}

.content-separtor {
    margin: 20px 0;
    height: 4px;
    width: 85%;
    background-color: cadetblue;
    border-color: cadetblue;
}

/* home section styling */

/* .about {
    display: flex;
    background: url("images/");
    justify-content: center;

} */

.sectionTitle {
    display: inline-block;
    font-weight: 600;
    color: white;
    font-size: 42px;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-text {
    color: white;
    font-size: 24px;
    width: 85%;
    line-height: 32px;
}

.crimson-button {
    background-color: cadetblue;
    color: white;
    width: 25%;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px 0;
    border: none;
}

.crimson-button:hover {
    cursor: pointer;
    background-color: #a5e2e4;
}

.button-container {
    padding: 0;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .crimson-button {
        width: 200px;
    }
    .about-text {
        color: white;
        font-size: 18px;
        width: 350px;
        line-height: 32px;
    }

    .content-separtor {
        margin: 20px 0;
        height: 4px;
        width: 350px;
        background-color: cadetblue;
        border-color: cadetblue;
    }

    .sectionTitle {
        display: inline-block;
        font-weight: 600;
        color: white;
        font-size: 32px;
    }

  }